// bower:scss
@import "bower_components/susy/sass/_susy.scss";
// endbower

@import "partials/variables";
@import "partials/mixins";
@import "partials/fonts";
@import "modals/home";
@import "modals/nav";
@import "modals/content";

@include border-box-sizing;

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  min-width: 320px;
  min-height: 320px;
  background: #000;
  font-family: Exo, Tahoma, serif;
}

//body {
//  position: fixed;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//}

p, ul, ol, li {
  padding: 0;
  margin: 0;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
