@font-face {
  font-family: Exo;
  src: url("../fonts/exo-regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Exo;
  src: url("../fonts/exo-bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Exo;
  src: url("../fonts/exo-italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Exo;
  src: url("../fonts/exo-bolditalic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Exo;
  src: url("../fonts/exo-thin.otf");
  font-weight: 100;
  font-style: normal;
}