.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -20px;
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 20px 17px 20px 0;
    border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 20px 0 20px 17px;
    border-color: transparent transparent transparent #fff;
}

.fp-slidesNav > ul > li > a > span {
  background: #FFF;
}