// General:
$susy: (
  container: 100%,
  columns: 4,
  gutters: 0,
  debug: ( image: show ),
  global-box-setting: border-box
);

$members: 4;

// Colors:
$red: #F12222;
$dark: #2D2D2D;

// Sizes:
$s: 480px;
$m: 720px;
$l: 1080px;
$xl: 1440px;

$page-min-width: 320px;

// intro:
$intro-arrow: 20px;

// nav:
$nav-width: 240px;
$nav-margin: 2px;

$nb-width: 30px;
$nb-height: 3px;
$nb-offset: 10px;

// content:
$heading: 10vh;
$space: 10px;
$img-border: 2px;
  
$border: 5px;
$border-dt: 110px;

$crew-divider: 75px;


// @media:
$ar-layout: '1/1';