$susy: (
  container: 100%,
  columns: 4,
  gutters: 0,
  debug: ( image: show ),
  global-box-setting: border-box
);

// Colors:

// Sizes:
$s: 480px;
$m: 720px;
$l: 900px;
$xl: 1280px;

$page-min-width: 320px;

// nav:
$nav-width: 240px;
$nav-margin: 2px;

$nb-width: 30px;
$nb-height: 3px;
$nb-offset: 10px;

// @media:
$ar-layout: '1/1';