#content {
  position: relative;
  height: 100vh;
  width: 100%;
}

// Main: ------------------------------------------------------------------------------
.main-section {
  @extend .wrap;
  position: relative;
  min-height: 100%;
}

// Modernizr:
.no-touch {
  @include susy-media($l) {
    .main-section {
      border: solid #000;
      border-width: 0 $border-dt 0 0;
    }
  }
}