#content {
  position: relative;
  height: 100%;
  width: 100%;
}

.content-bg {
  top: 0;
  left: 0;
  position: fixed;
  height: 167%;
  width: 100%;
  background: {
    image: url("../images/car-cover-wide.jpg");
    size: cover;
    position: center;
  }
  filter: grayscale(100%);
  z-index: -1;
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparentize(#000, .3);
  }
}

// Main: ------------------------------------------------------------------------------
.main-section {
  position: relative;
  min-height: 100%;
  border: solid $red;
  border-width: 0 $border-mini 0 $border-mini;
  
  @include susy-media($s) {
    border-width: 0 $border 0 $border;
  }
  
  @include susy-media($l) {
    border-width: 0 $border-dt 0 $border-dt;
  }
}
  
.section-heading {
  margin: 0;
  font-size: $heading;
  font-weight: bold;
  color: #FFF;
  padding-left: 50 - $border-mini*2;
}

.wrap {
  @include container;
  @include span(4);
  height: 100%;
  
  @include susy-breakpoint($m, 8) {
//    @include show-grid();
    @include span(8);
  }
}

.section-cover,
.section-about {
  position: relative;
  padding: $space;
}
  
.section-cover {
  height: 50 - $heading;
}

.section-image {
  @include span(4);
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-bottom: $space;
  
  @include susy-breakpoint($l, 8) {
    @include span(4);
    margin-bottom: 0;
  }
  
  &:last-child {
    @include last();
  }
}
  


// Nina:
#nina {
  .img-1 {
    background: {
      image: url("../images/content/nina-cover.jpg");
      size: cover;
      position: center 25%;
      repeat: no-repeat;
    }
  }
  
  .img-2 {
    background: {
      image: url("../images/content/nina-cover-2.jpg");
      size: cover;
      position: center 20%;
      repeat: no-repeat;
    }
  }
}