#content {
  @include container;
  height: 100%;
  z-index: 2;
  
  @include susy-breakpoint($m, 8) {
    @include show-grid;
  }
  
  @include susy-breakpoint($xl, 16) {
    @include show-grid;
  }
}

.main-section {
  min-height: 100%;
  
  > h1 {
    margin: 0;
    padding-left: 60px;
    font-size: 8vw;
    font-weight: bold;
    color: #FFF;
  }
}