.member {
  position: relative;
  @include span(4);
  height: 100vh;
  min-height: $m-v;
  overflow: hidden;
  
  @include susy-breakpoint($m, 8) {
    @include span(4);
  }
  
  @include susy-breakpoint($l, 16) {
    @include span(4);
  }
}

// Crew: ------------------------------------------------------------------------------
.inner-content,
.content-img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.inner-content {
  transition: transform .5s, width .5s;
  overflow: hidden;
}

.content-img {
  transition: transform .5s;
  background: {
    size: cover;
    position: center top;
  }
  transform: translate3d(0,0,0); // FPS fix
}

.content-overlay {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 50px;
  background: transparentize(#000, .25);
  opacity: 0;
  transition: opacity .5s;
  overflow: hidden;
}

// Backgrounds: -----------------------------------------------------------------------
.nina .content-img {
  background-image: url('../images/crew/nina.jpg');
}

.veronika .content-img {
  background-image: url('../images/crew/veronika.jpg');
}

.anita .content-img {
  background-image: url('../images/crew/anita.jpg');
}

.silvia .content-img {
  background-image: url('../images/crew/silvia.jpg');
}

.content-icon {
  position: absolute;
  bottom: 80px;
  right: 0;
  left: 0;
  margin: 0 auto 0 auto;
  height: 80px;
  width: 80px;
  background: {
    image: url("../images/icons/circle.svg");
    size: contain;
    position: center;
    repeat: no-repeat;
  }
}

// Innerds: ---------------------------------------------------------------------------
.title,
.description {
  position: relative;
  color: #FFF;
  user-select: none;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 6% 0 6%;
  
  > h1 {
    margin: 0;
    line-height: 1;
    font-size: 3em;
  }
}

.divider {
  position: relative;
  font-weight: 100;
  
  &:before,
  &:after {
    @include pseudo;
    background: #FFF;
    height: 3px;
    width: $crew-divider;
    top: 10px;
  }
  
  &:before {
    left: -$crew-divider - 10;
  }
  
  &:after {
    right: -$crew-divider - 10;
  }
}

.undertext {
  line-height: 1;
  font-size: 2em;
}

.description {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: justify;
  font-size: 1em;
  height: 75%;
  overflow: hidden;
}

.table {
  margin-bottom: 10px;
}

.t-left {
  vertical-align: top;
  white-space: nowrap;
  font-weight: bold;
}

.t-right {
  padding-left: 5px;
  font-weight: 100;
}

// Queries: ---------------------------------------------------------------------------
@include susy-media($s) {
  .description {
    font-size: 1.2em;
  }
}

@include susy-media($m) {
  .inner-content {
    width: 150%;
  }
  
  .title {
    font-size: 1.6em;
  }
  
  .divider {
    position: relative;

    &:before,
    &:after {
      width: $crew-divider-dt;
      top: 20px;
    }

    &:before {
      left: -$crew-divider-dt - 10;
    }

    &:after {
      right: -$crew-divider-dt - 10;
    }
  }

  .veronika,
  .silvia {
    right: 0;
  }
}

@include susy-media($l) {
  .inner-content {
    width: 150%;
  }
  
  .title {
    font-size: 1.4em;
  }
  
  .description {
    font-size: 1.2em;
  }
  
  .veronika,
  .anita {
    left: -25%;
  }

  @include susy-media(max-height $xl-v) {
    .title {
      padding: 2.5% 0 2.5%;
      font-size: 1.3em;
    }

    .description {
      font-size: 1.1em;
    }
  }
}

@include susy-media($xl) {
  .title {
    font-size: 2em;
  }
  
  .description {
    font-size: 1.5em;
  }

  @include susy-media(max-height $xl-v) {
    .title {
      font-size: 1.8em;
      padding: 2.5% 0 2.5%;
    }
  
    .description {
      font-size: 1.2em;
    }
  }
}

// Active: ----------------------------------------------------------------------------
.member.active {
  overflow: visible;

  .inner-content {
    z-index: 2;
  }
  
  .content-img {
    transition: transform 15s;
    transform: scale(1.2);
  }

  .content-overlay {
    opacity: 1;
  }
}

// Modernizr:
.no-touch {
  .member {
    cursor: default;
  }
  
  .content-icon {
    cursor: pointer;
    
    @keyframes circle {
      50% { transform: translateY(-20px); }
      100% { transform: translateY(0px); }
    }
  
    animation: circle 1s infinite;
    animation-play-state: paused;
    
    &:hover {
      animation-play-state: running;
    }
  }
}