// Main:
#home {
  width: 100%;
  height: 100%;
}

// Woohooo:
.home-woohooo {
  position: absolute;
  height: 50%;
  width: 100%;
  min-width: $page-min-width;
  background: #000;
  border: solid 2px #000;
  overflow: hidden;
  
  &.hidden {
    visibility: hidden;
  }
}

.home-woohooo-img,
.home-woohooo-img-text {
  position: absolute;
}

.home-woohooo-img {
  height: 100%;
  width: 100%;
  background: {
    image: url("../images/car-cover-wide.jpg");
    size: cover;
    position: center 50%;
    attachment: fixed;
  }
  
  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .3;
  }
}

.home-woohooo-img-text {
  height: 50%;
  width: 95%;
  left: 10px;
  top: 25%;
}

.home-woohooo-name,
.home-woohooo-description {
  position: relative;
  display: block;
  height: 50%;
  color: #FFF;
  text-shadow: 2px 2px 5px transparentize(#000, .5);
}

.home-woohooo-name {
  font-size: 16vw;
  
  @include susy-media(min-aspect-ratio $ar-font) {
    font-size: 12vh;
  }
}

.home-woohooo-description {
  font-size: 10vw;
  font-weight: 100;
  
  @include susy-media(min-aspect-ratio $ar-font) {
    font-size: 7vh;
  }
}

// Woohooo modernizr:
.touch {
  .home-woohooo-description {
    color: #F00;
  }
}

.no-touch {
  .home-woohooo {
    .home-woohooo-description {
      transition: color .5s;
    }
    
    &:hover {
      .home-woohooo-description {
        color: #F00;
      }
    }
  }
}

// Members:
#members {
  position: relative;
  top: 50%;
  width: 100%;
  min-width: $page-min-width;
  height: 50%;
  z-index: 2;
}

.member {
  position: relative;
  height: 50%;
  width: 50%;
  float: left;
  border: solid 2px #000;
  overflow: hidden;
  
  @include susy-media(min-aspect-ratio $ar-layout) {
    height: 100%;
    width: 25%;
  }
}
  
.member-img {
  display: block;
  height: 100%;
  width: 100%;
  
  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .5;
  }
}
  
.member-text {
  position: relative;
  display: block;
  top: -50%;
  left: 5%;
  color: #FFF;
  text-shadow: 2px 2px 5px transparentize(#000, .5);
}

.member-name {
  font-size: 1.4em;
  
  @include susy-media($m) {
    font-size: 2em;
  }
  
  @include susy-media($l) {
    font-size: 2.8em;
  }
  
  @include susy-media($xl) {
    font-size: 4em;
  }
}

.member-description {
  font-size: 1em;
  font-weight: 100;
  
  @include susy-media($m) {
    font-size: 1.5em;
  }
  
  @include susy-media($l) {
    font-size: 2em;
  }
  
  @include susy-media($xl) {
    font-size: 2.5em;
  }
}

.member-nina {
  > .member-img {
    background: {
      image: url("../images/nina.jpg");
      size: cover;
      position: center 10%;
    } 
  }
}

.member-veronika {
  > .member-img {
    background: {
      image: url("../images/veronika.jpg");
      size: cover;
      position: center 10%;
    } 
  }
}

.member-anita {
  > .member-img {
    background: {
      image: url("../images/anita.jpg");
      size: cover;
      position: center 20%;
    } 
  }
}

.member-silvia {
  > .member-img {
    background: {
      image: url("../images/silvia.jpg");
      size: cover;
      position: center top;
    } 
  }
}

// Members modernizr:
.touch {
  .member-description {
    color: #F00;
  }
}

.no-touch {
  .member {
    > .member-text {
      transition: opacity .5s;
    }
    
    > .member-img {
      transition: transform .5s;

      &:before {
        transition: opacity .5s;
      }
    }
    
    &:hover {
      cursor: pointer;
      
      > .member-img {
        transform: scale(1.1);
        transition: opacity .5s, transform 5s linear;
        
        &:before {
          opacity: 0;
        }
      }

      > .member-text {
        opacity: 0;
      }
    }
  }
}
