// Nav:
#nav {
  position: fixed;
  left: -$nav-width;
  z-index: 100;
  display: none;
}

.nav-list {
  position: relative;
  width: $nav-width;
  height: 100vh;
  padding: 40px 0 (40px + $nav-margin);
  transition: transform .5s;
  background: transparentize(#000, .5);
}

// Modernizr:
.touch {
  .nav-list {
    overflow: auto;
  }
}

// List: ------------------------------------------------------------------------------
.nav-item {
  position: relative;
  display: block;
  margin: $nav-margin;
  min-height: 80px;
  height: calc(100%/#{$sections} - #{$nav-margin});
  
  &:before {
    @include pseudo-full();
    background: transparentize(#FFF, .6);
    transition: opacity .5s;
    opacity: 0;
  }
}

.nav-anchor,
.home-anchor {
  > a {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
  }
}

.nav-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  
  &:before {
    @include pseudo-full();
    top: 0;
    left: 0;
    background: transparentize(#000, .4);
    transition: opacity .5s;
    opacity: 1;
  }
}

// Active:
.active {
  .nav-img:before {
    opacity: .2;
  }
  
  .nav-text {
    opacity: 0;
  }
}

.nav-text {
  display: block;
  position: relative;
  padding-right: 8px;
  color: #FFF;
  text-align: right;
  text-shadow: 2px 2px 5px transparentize(#000, .5);
  font-size: 2em;
  user-select: none;
  transition: opacity .5s;
}

.nav-subtext {
  color: $red;
  font-size: 1.5em;
}

// List items:
.nav-crew .nav-img {
  background: {
    image: url("../images/crew.jpg");
    size: cover;
    position: center;
  } 
}

.nav-woohooo .nav-img {
  background: {
    image: url("../images/woohooo.jpg");
    size: cover;
    position: center;
  }
}

.nav-highlights .nav-img {
  background: {
    image: url("../images/highlights.jpg");
    size: cover;
    position: center;
  } 
}

.nav-gallery .nav-img {
  background: {
    image: url("../images/gallery.jpg");
    size: cover;
    position: center;
  } 
}

.nav-contact .nav-img {
  background: #000;
  background: {
    image: url("../images/contact.png");
    size: contain;
    position: center;
    repeat: no-repeat;
  } 
}

// Button: ----------------------------------------------------------------------------
.nav-button {
  position: fixed;
  left: 0;
  top: 0;
  width: $nb-width + $nb-offset*2;
  height: $nb-height + $nb-offset*2 + ($nb-width+1)/2;
  z-index: 101;
}

.nav-burger {
  position: absolute;
  display: block;
  height: $nb-height;
  width: $nb-width;
  left: $nb-offset;
  border-radius: 1px;
  background: #FFF;
  transition: transform .25s;
}

.nb-1 {
  top: $nb-offset;
}

.nb-2 {
  top: $nb-offset + $nb-width/4;
}

.nb-3 {
  top: $nb-offset + ($nb-width+1)/2;
}

// Button modernizr:
.touch {
  .nav-list {
    backface-visibility: hidden; // mobile flicker fix  
  }
}

.no-touch {
  .nav-button:hover {
    cursor: pointer;
  }
}

// Open: ------------------------------------------------------------------------------
.open {
  .nav-list {
    transform: translate3d($nav-width, 0, 0);
  }

  .nb-1 {
    transform: translate3d(0, $nb-width/4, 0) rotate(45deg);
  }

  .nb-2 {
    opacity: 0;
  }

  .nb-3 {
    transform: translate3d(0, -1*($nb-width+3)/4, 0) rotate(-45deg);
  }
}

// Desktop: ---------------------------------------------------------------------------
.no-touch {
  $nav-border-dt: 100px;
  $nav-margin-dt: 10px;
  
  @include susy-media($l) {
    #nav {
      width: $nav-width;
      left: auto;
      right: -$nav-width;
    }
    
    .nav-list {
      float: right;
      left: 0;
      padding: 0 0 $nav-margin-dt;
      transform: translateZ(0px); // transition font fix
      background: none;
    }
    
    .nav-item {
      transition: transform .5s;
      height: calc(100%/#{$sections} - #{$nav-margin-dt});
      margin: $nav-margin-dt 0 $nav-margin-dt 0;
      
      &:hover {
        transform: translate3d(-$nav-width, 0, 0);
      }
      
      &:before {
        width: $nav-border-dt;
        height: 100%;
        top: $nav-margin-dt;
        left: -$nav-border-dt + $nav-margin-dt;
        margin: -$nav-margin-dt;
      }
    
      &.active:before {
        background: transparentize(#FFF, .6);
        opacity: 1;
      }
    
      &.nav-anchor > a {
        width: $nav-width + $nav-border-dt;
        left: -$nav-border-dt;
      }
      
      .nav-text {
        position: relative;
        display: block;
        padding: 0 8px 0;
        width: $nav-border-dt;
        left: -$nav-border-dt;
        font-size: 1em;
      }
    }
    
    .nav-img:before {
      opacity: .2;
    }
    
    .active .nav-text {
      opacity: 1;
    }
    
    .nav-button {
      display: none;
    }
  }
}