// Nav:
#nav {
  position: fixed;
  height: 100%;
  z-index: 100;
  display: none;
}

.nav-list {
  position: relative;
  width: $nav-width;
  height: 100%;
  left: -$nav-width;
  transition: transform .5s;
  background: transparentize(#F00, .5);
}

// Button:
.nav-button {
  position: fixed;
  width: $nb-width + $nb-offset*2;
  height: $nb-height + $nb-offset*2 + ($nb-width+1)/2;
  z-index: 101;
}

.nav-burger {
  position: absolute;
  display: block;
  height: $nb-height;
  width: $nb-width;
  left: $nb-offset;
  border-radius: 1px;
  background: #FFF;
  transition: transform .25s;
}

.nb-1 {
  top: $nb-offset;
}

.nb-2 {
  top: $nb-offset + $nb-width/4;
}

.nb-3 {
  top: $nb-offset + ($nb-width+1)/2;
}

// Button modernizr:
.no-touch {
  .nav-button:hover {
    cursor: pointer;
  }
}

// Open:
.open {
  .nav-list {
    transform: translateX($nav-width);
  }

  .nb-1 {
    transform: translateY($nb-width/4) rotate(45deg);
  }

  .nb-2 {
    opacity: 0;
  }

  .nb-3 {
    transform: translateY(-1*($nb-width+3)/4) rotate(-45deg);
  }
}

// Desktop:
.no-touch {
  @include susy-media($s) {
    #nav {
      
    }
    
    .nav-button {
      display: none;
    }
  }
}